<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PalashDynamics.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DALNameSpace" value="PalashDynamics.DataAccessLayer.SqlServerStoredProc" />
    <add key="LoggingMode" value="1" />
    <add key="ValidationMsgHeader" value="PALASH" />
    <add key="virtualfoldername" value="\\shspl109\FileServer" />
    <add key="EditIcon" value="~/App_Themes/Palash/Images/edit.gif" />
    <add key="DeleteIcon" value="~/App_Themes/Palash/Images/delete.gif" />
    <add key="UpdateIcon" value="~/App_Themes/Palash/Images/correct.gif" />
    <add key="CancelIcon" value="~/App_Themes/Palash/Images/Button-Cancel-16x16.png" />
    <add key="GridDateFormat" value="{0:dd/MM/yyyy}" />
    <add key="DatePickerDateFormat" value="dd/MM/yyyy" />
    <add key="LogFilePath" value="Configuration\Logging\XmlLog.config" />

    <add key="SampleVal" value="3600" />
    <!--Duration of User session TimeOut-->
    <add key="IsAuditTrail" value="false" />
    <add key="IsCSControlEnable" value="true" />
    <!--use to Enable Item Selection contol on Counter Sale Screen-->
    <add key="PackageID" value="4" />
    <add key="EMRModVisitDateInDays" value="2" />
    <add key="InternationalId" value="5" />
    <add key="ValidationsFlag" value="true" />
    <!-- value = 0 => same day visit-->
    <!--EMR Changes Added by Ashish Z. on dated 02062017 Use for EMR form for Backdated visit EMR Entry in days-->



    <!--Development Server PISPL-->
    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Genome_Dev_21DEC17"/>
    <add key="DBServer" value="192.168.1.5"/>-->
    <!--Development Server PISPL-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="GENOME_SL_LIVE_25032019_CrossClinic"/>
    <add key="DBServer" value="192.168.1.5"/>-->

    <!--<add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Rational@10"/>
    <add key="dbname" value="Palash_SL_FertilityPoint_LIVE_22Nov19"/>
    <add key="dbserver" value="192.168.1.232\SQL2017"/>-->
      
    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="GENOME_SL_LIVE_21May2019"/>
    <add key="DBServer" value="192.168.1.232"/>-->

    <add key="DBUserName" value="alsdbuser" />
    <add key="DBPassword" value="alsdbuser" />
    <add key="DBName" value="Multiply_HIS_RenewFertility_Live" />
    <add key="DBServer" value="NARENDRA\SQLEXPRESS01" />

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="PALASH_SL_LIVE"/>
    <add key="DBServer" value="192.168.2.191\MSSQLServer2012"/>-->
    
    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="admin@123neotia"/>
    <add key="DBName" value="GENOME_SL_LIVE"/>
    <add key="DBServer" value="182.76.245.116\MSSQLSERVER2012"/>-->

    

    <!--<add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Rational@1"/>
    <add key="dbname" value="GENOME_SL_LIVE_30072018"/>
    <add key="dbserver" value="192.168.1.232"/>-->

    <!--<add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Rational@1"/>
    <add key="dbname" value="GENOME_SL_LIVE_18Dec_IPD_4Feb19"/>
    <add key="dbserver" value="192.168.1.232"/>-->

    <!--<add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Rational@1"/>
    <add key="dbname" value="Bocah_Dev_14Jan19"/>
    <add key="dbserver" value="192.168.1.232\MSSQLSERVER2014"/>-->
    
    <!--add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Rational@1"/>
    <add key="dbname" value="Bocah_Dev_07Feb19"/>
    <add key="dbserver" value="192.168.1.232\MSSQLSERVER2014"/>-->

    <!--<add key="dbusername" value="sa"/>
    <add key="dbpassword" value="Palash@1"/>
    <add key="dbname" value="Bocah_Test"/>
    <add key="dbserver" value="13.250.78.132"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Palash@1"/>
    <add key="DBName" value="Palash_JindalIVF_Test"/>
    <add key="DBServer" value="13.127.80.251"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Palash@1"/>
    <add key="DBName" value="Palash_Motherhood_Live"/>
    <add key="DBServer" value="13.127.80.251"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Palash@1"/>
    <add key="DBName" value="Palash_Motherhood_QA"/>
    <add key="DBServer" value="13.127.80.251"/>-->


    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Palash@1"/>
    <add key="DBName" value="Palash_MotherToBe_Test"/>
    <add key="DBServer" value="13.127.80.251"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="admin@123neotia"/>
    <add key="DBName" value="GENOME_SL_LIVE"/>
    <add key="DBServer" value="220.225.85.97,49829\MSSQLSERVER2012"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="admin@123neotia"/>
    <add key="DBName" value="Genome_Dev_30112018"/>
    <add key="DBServer" value="220.225.85.97,49829\MSSQLSERVER2012"/>-->

    <add key="RegImgIP" value="localhost" />
    <add key="RegImgVirtualDir" value="REG_IMAGES" />
    <add key="ImgSavingLocation" value="D:\Palash\PALASH_PATIENTREGISTRATION\IMAGE\" />

    <add key="DocImgIP" value="localhost" />
    <add key="DocImgVirtualDir" value="localhost" />
    <add key="DocSavingLocation" value="D:\image\" />

    <add key="EMRImgIP" value="localhost" />
    <add key="EMRImgVirtualDir" value="Images" />
    <add key="EMRImgSavingLocation" value="D:\Palash\PALASH_PATIENTREGISTRATION\IMAGE\" />

    <add key="IVFImgIP" value="localhost" />
    <add key="IVFImgVirtualDir" value="IVF_IMAGES" />
    <add key="IVFImgSavingLocation" value="D:\Palash\MSR_IVF_IMAGES\" />

    <!--added by neena for IVF Billing-->
    <add key="IsIVFBillingCriteria" value="True" />
    <add key="ForIVFProcedureBilling" value="Freeze" />
    <add key="ForTriggerProcedureBilling" value="50" />
    <add key="ForOPUProcedureBilling" value="100" />

    
    <!-- Add by Ajit For CounterSle Concession IsReadOnly-->
    
    <add key="IsConcessionReadOnly" value="false" />
    
    <add key="IsFertilityPoint" value="false" /> <!--For Fertility Point Client. To Disable Validation GST Number And PAN Number in Supplier Master -->

    <!--//***//-->

    <!--<add key="RegImgIP" value="192.168.1.111"/>
    <add key="RegImgVirtualDir" value="REG_IMAGES"/>
    <add key="ImgSavingLocation" value="D:\Palash\PALASH_PATIENTREGISTRATION\IMAGE\"/>

    <add key="EMRImgIP" value="192.168.1.50"/>
    <add key="EMRImgVirtualDir" value="ManipalImages"/>
    <add key="EMRImgSavingLocation" value="D:\manipalImag\"/>

    <add key="IVFImgIP" value="192.168.1.55"/>
    <add key="IVFImgVirtualDir" value="Images"/>
    <add key="IVFImgSavingLocation" value="D:\Palash\PALASH_PATIENTREGISTRATION\IMAGE\"/>-->



    <add key="IsIstanbul" value="No" />
    <add key="IsApprovedDirect" value="Yes" />

    <add key="ItType" value="Client" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />

    <add key="ItType" value="Client" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <!--<add key="VirtualDir" value="PalashDynamics.Web"/>-->
    <add key="VirtualDir" value="IVFPalashDynamics.WebServer" />
      
      
      
      <!--<add key="ReportsFolder" value=""/>-->
      <!--<add key="ReportsFolder" value="ReportsBI"/>-->    <!--ReportsBI Added by Prashant Channe-->
      <add key="ReportsFolder" value="ReportsFP" />           <!--ReportsFP Added by Prashant Channe-->


      <add key="InternationalId" value="5" />
      <add key="ValidationsFlag" value="true" />
    
      
  </appSettings>
  <connectionStrings>

      <!--<add name="DBConnection" connectionString="Data Source=192.168.1.5;Initial Catalog=GENOME_SL_LIVE_25032019_CrossClinic;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->
      
    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.5;Initial Catalog=Genome_Dev_21DEC17;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232;Initial Catalog=GENOME_SL_LIVE_21May2019;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232\SQL2017;Initial Catalog=Palash_SL_FertilityPoint_LIVE_22Nov19;User Id=sa;Password=Rational@10;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

      <add name="DBConnection" connectionString="Data Source=NARENDRA\SQLEXPRESS01;Initial Catalog=Multiply_HIS_RenewFertility_Live;User Id=alsdbuser;Password=alsdbuser;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient" />

    <!--<add name="DBConnection" connectionString="Data Source=192.168.2.191\MSSQLServer2012;Initial Catalog=PALASH_SL_LIVE;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232;Initial Catalog=GENOME_SL_LIVE_18Dec_IPD_4Feb19;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232\MSSQLSERVER2014;Initial Catalog=Bocah_Dev_14Jan19;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232\MSSQLSERVER2014;Initial Catalog=Bocah_Dev_07Feb19;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=13.250.78.132;Initial Catalog=Bocah_Test;User Id=sa;Password=Palash@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=182.76.245.116\MSSQLSERVER2012;Initial Catalog=GENOME_SL_LIVE;User Id=sa;Password=admin@123neotia;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232;Initial Catalog=Genome_SL_140518;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=182.76.245.117\MSSQLSERVER2012;Initial Catalog=GENOME_SL_DEMO040718;User Id=sa;Password=admin@123neotia;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=192.168.1.232;Initial Catalog=GENOME_SL_DEMO_060718;User Id=sa;Password=Rational@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=220.225.85.97,49829\MSSQLSERVER2012;Initial Catalog=GENOME_SL_LIVE;User Id=sa;Password=admin@123neotia;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=220.225.85.97,49829\MSSQLSERVER2012;Initial Catalog=Genome_Dev_30112018;User Id=sa;Password=admin@123neotia;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="DBConnection" connectionString="Data Source=13.127.80.251;Initial Catalog=Palash_Motherhood_Live;User Id=sa;Password=Palash@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=13.127.80.251;Initial Catalog=Palash_Motherhood_QA;User Id=sa;Password=Palash@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DBConnection" connectionString="Data Source=13.127.80.251;Initial Catalog=Palash_MotherToBe_Test;User Id=sa;Password=Palash@1;Pooling=True;Min Pool Size=25;Max Pool Size=300" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <!--    Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development. -->
    <compilation debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.logix.in" port="2525" userName="palash@seedhealthcare.com" password="Ibm@1234" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/PalashDynamics.Web/PalashDynamicsWeb.svc" binding="customBinding" bindingConfiguration="CustomBinding_IPalashService" contract="RAZIServiceRef.IPalashService" name="CustomBinding_IPalashService" />
      <endpoint address="https://localhost/Palash_IVF_MAH.WebServer/PalashTestService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPalashService" contract="PalashTestService.IPalashService" name="BasicHttpBinding_IPalashService" />
      <endpoint address="https://localhost/Palash_IVF_MAH.WebServer/EMR/DataTemplateHttpsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DataTemplateHttpsService" contract="PalashDynamics.Web.DataTemplateHttpsService" name="BasicHttpBinding_DataTemplateHttpsService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PalashDynamics.Web.PalashDynamicsWebBehavior">
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="1000" maxConcurrentInstances="200" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="PalashDynamics.Web.PalashTestServiceBehavior">
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="1000" maxConcurrentInstances="200" />
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="PalashDynamics.Web.EmailServiceBehavior">
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="1000" maxConcurrentInstances="200" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="PalashDynamics.Web.DataTemplateServiceBehavior">
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="1000" maxConcurrentInstances="200" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="1000" maxConcurrentInstances="200" />
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <!--Ramesh-->
        <behavior name="PalashDynamics.Web.DataTemplateHttpsService">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <!--Ramesh-->
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPalashService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="02:00:00" openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_DataTemplateHttpsService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>

      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding1" closeTimeout="02:00:00" openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
        <binding name="customBinding2" closeTimeout="02:00:00" openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="customBinding0" closeTimeout="02:00:00" openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00">
          <binaryMessageEncoding />
          <httpTransport>
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
        <binding name="CustomBinding_IPalashService" closeTimeout="05:00:00" openTimeout="05:00:00" receiveTimeout="05:00:00" sendTimeout="05:00:00">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
        <binding name="PalashDynamics.Web.DataTemplateService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="PalashDynamics.Web.DataTemplateHttpsService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="PalashDynamics.Web.PalashDynamicsWebBehavior" name="PalashDynamics.Web.PalashDynamicsWeb">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding1" contract="PalashDynamics.ValueObjects.IPalashService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="PalashDynamics.Web.EmailServiceBehavior" name="PalashDynamics.Web.EmailService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="PalashDynamics.Web.EmailService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="PalashDynamics.Web.DataTemplateServiceBehavior" name="PalashDynamics.Web.DataTemplateService">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding2" contract="PalashDynamics.Web.DataTemplateService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="PalashDynamics.Web.PalashTestServiceBehavior" name="PalashDynamics.Web.PalashTestService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPalashService" contract="PalashDynamics.ValueObjects.IPalashService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service name="PalashDynamics.Web.DataTemplateHttpsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DataTemplateHttpsService" contract="PalashDynamics.Web.DataTemplateHttpsService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <applicationSettings>
    <PalashDynamics.Web.Properties.Settings>
      <setting name="PalashDynamics_Web_PalashActivationKey_Service1" serializeAs="String">
        <value>http://58.68.35.250/PalashActivationKey/PalashActivationKey.asmx</value>
      </setting>
      <setting name="PalashDynamics_Web_PalashActivationRef_Service1" serializeAs="String">
        <value>http://shspl50/PalashActivationKey/PalashActivationKey.asmx</value>
      </setting>
    </PalashDynamics.Web.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/platform:x86" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
