<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add RootLogDirectory="LogReports" FileName="ErrorLog.xml" MaxFileSize="1024000"
        SubDirectoryPath="Errors" InnerSubDirectoryPath="DAL" ApplicationType="Client" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="com.seedhealthcare.hms.Web.Logging.TraceListeners.XmlFileTraceListener, com.seedhealthcare.hms.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Error Trace Listener" initializeData="" formatter="Xml Formatter" />
      <add RootLogDirectory="LogReports" FileName="GeneralLog.xml" MaxFileSize="1024000"
        SubDirectoryPath="General" InnerSubDirectoryPath="DAL" ApplicationType="Client" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="com.seedhealthcare.hms.Web.Logging.TraceListeners.XmlFileTraceListener, com.seedhealthcare.hms.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="General Trace Listener" initializeData="" formatter="Xml Formatter" />
      <add RootLogDirectory="LogReports" FileName="InformationLog.xml" MaxFileSize="1024000"
        SubDirectoryPath="Information" InnerSubDirectoryPath="DAL" ApplicationType="Client" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="com.seedhealthcare.hms.Web.Logging.TraceListeners.XmlFileTraceListener, com.seedhealthcare.hms.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Information Trace Listener" initializeData="" formatter="Xml Formatter" />
      <add RootLogDirectory="LogReports" FileName="WarningLog.xml" MaxFileSize="1024000"
        SubDirectoryPath="Warning" InnerSubDirectoryPath="DAL" ApplicationType="Client" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        traceOutputOptions="None" type="com.seedhealthcare.hms.Web.Logging.TraceListeners.XmlFileTraceListener, com.seedhealthcare.hms.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Warning Trace Listener" initializeData="" formatter="Xml Formatter" />
    </listeners>
    <formatters>
      <add prefix="x" namespace="DataSet" type="com.seedhealthcare.hms.Web.Logging.Formatters.XmlFileTraceListenerFormatter, com.seedhealthcare.hms.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Xml Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Error Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="General Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="Information Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Warning Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
</configuration>